.cards-container {
    .card {
        display: inline-block;
        overflow: visible;
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    .cards-container {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}
@media only screen and (min-width: 601px) {
    .cards-container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 993px) {
    .cards-container {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1200px) {
    .cards-container {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

.shoppingcart{

    color: red;

}
